@{
    //ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<span class="row">
    <div class="col-sm-6">
        @ViewBag.Grades
        
    </div>
    <div class="col-sm-6">
        @ViewBag.Messagejson
        
    </div>
</span>